<div class="chat" data-controller="chat">
  <div class="chat-messages" data-chat-target="messages"></div>

  <div class="chat-actionbar">
    <input type="text" class="chat-input" data-chat-target="input" />
    <input type="submit" class="button" data-action="click->chat#submit" />
  </div>
</div>